body{
   font-family: 'Montserrat', sans-serif;
}
/*hedaer style*/
.header{
   display: flex;
   margin: 50px 390px 25px 389px;
   width: 1141px;
}
.header-item{
    display: flex;
    align-items: center;
}
.header-logo{
    background-image: url(../img/logo.svg);
    height: 30px;
    width: 97px;
}
.header-nav{
    font-weight: 400;
    font-size: 18px;
    list-style-type: none;
    display: flex;
    gap: 54px;
    padding-left: 92px;
    padding-right: 392px;
    
}
.header-nav a{
    text-decoration: none;
}
.socialmedia{
    display: flex;
    align-items:center;
    gap: 30px;
}
.insta{
    background-image: url(../img/instagram.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.fb{
    background-image: url(../img/facebook.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
/*"banner style*/
.banner-container{
    width: 1326px;
    margin-left: 389px;
    display: flex;
}
.banner-visual{
    display: flex;
    gap: 20px;
    padding-left: 425px;

}
.banner-visual-left{
    background: linear-gradient(90deg, #FBF138 0%, rgba(253,249,182,0.45)145.23%);
    width: 535px;
    height: 850px;
    opacity: 0.2;
   
}

.banner-visual-right{
    background: linear-gradient(90deg, #FDF9B6 0%, rgba(253,249,182,0.7)166.81%);
    width: 235px;
    height: 850px;
    opacity: 0.2;
    
}
.banner-visual-img{
    background-image: url(../img/girl.jpg);
    width: 936px;
    height: 930px;
    background-repeat: no-repeat;
  
}
